.container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-dark);
        padding: 0.5rem;
        border: 1px solid var(--clr-light);
        min-height: 50px;
        min-width: 50px;

        &:hover{
            border-color: var(--clr-main);
        }

        svg{
            font-size: 1.2rem;
        }
    }

    .ids{
        display: inline-flex;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        button{
            margin-right: 0.3rem;
        }
        img{
            object-fit: contain;
        }
        .selected{
            border-color: var(--clr-main);
        }
    }

    .slide{
        .button{
            background-color: var(--clr-main);
            border: 1px solid var(--clr-light);
            &:hover{
                background-color: var(--clr-main-light);
            }
        }

        .items{
            button{
                background-color: var(--clr-dark);
                padding: 0.5rem;
                border: 1px solid var(--clr-light);
                width: 100%;
                margin-bottom: 0.5rem;
                &:hover{
                    border-color: var(--clr-main);
                }

                div{
                    text-align: right;
                    b{
                        display: block;
                    }
                    p, b{
                        margin: 0.2rem 0;
                    }
                }

                .image, .information{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .image{
                    position: relative;
                    &:hover p{
                        display: block;
                    }
                    p{
                        display: none;
                        position: absolute;
                        right: -0.6rem;
                        top: -0.7rem;
                        background-color: var(--clr-background);
                        border: 1px solid var(--clr-main);
                        padding: 0.5rem;
                    }
                    b{
                        text-align: left;
                        margin-right: 1.7rem;
                    }
                }
                .information{
                    .hover{
                        text-align: left;
                        width: 170px;
                    }
                    .cost{
                        color: var(--clr-text);
                    }
                    .high{
                        color: var(--clr-text);
                    }
                    .low{
                        color: var(--clr-text-light);
                    }
                    .green{
                        color: var(--clr-green);
                    }
                    .red{
                        color: var(--clr-red);
                    }
                }
            }
        }

    }
    
}