button, a, svg,
input, textarea, 
ol, ul, li, option, select,
p, q, b, label, span, kbd, small,
h1, h2, h3, h4, h5, h6,
div, section, main, form, header, nav, footer, nav, table, tr, td, title, summary{
    color: var(--clr-text);
}

::placeholder{
    color: rgba(128, 128, 128, 0.377);
}

.theme-light{
    --clr-main: #15bb39;
    --clr-main-light: #15bb39cd;
    --clr-main-fade: #15bb3986;
    --clr-main-trans: rgb(206, 160, 151, 0.5);
    --clr-background: rgb(0, 0, 0);
    --clr-background-light: rgba(0, 0, 0, 0.883);
    --clr-text: white;
    --clr-text-light: #c3c3c3e1;
    --clr-dark: #191919c5;
    --clr-dark-light: #34343452;
    --clr-grey: rgb(149, 149, 149); 
    --clr-grey-light: rgba(143, 143, 143, 0.746); 
    --clr-light: #2b2b2b;
    --clr-light-light: rgba(52, 52, 52, 0.862);

    --clr-red: rgb(225, 99, 99);
    --clr-blue: rgb(36, 116, 245);
    --clr-green: rgb(84, 210, 111);
    --clr-yellow: yellow;
}

.theme-night{
    --clr-main: #6042d7;
    --clr-main-light: #6042d7cb;
    --clr-main-fade: hsl(24, 100%, 98%);
    --clr-main-trans: rgb(206, 160, 151, 0.5);
    --clr-background: black;
    --clr-background-light: black;
    --clr-text: white;
    --clr-text-light: #c3c3c3e1;
    --clr-dark: #191919c5;
    --clr-dark-light: #34343452;
    --clr-grey: rgb(149, 149, 149); 
    --clr-grey-light: rgba(143, 143, 143, 0.746); 
    --clr-light: #2b2b2b;
    --clr-light-light: rgba(52, 52, 52, 0.862);

    --clr-red: rgb(225, 99, 99);
    --clr-blue: rgb(36, 116, 245);
    --clr-green: rgb(84, 210, 111);
    --clr-yellow: yellow;
}

.theme-sunset{
    --clr-main: #f7931a;
    --clr-main-light: #f7941ae8;
    --clr-main-fade: #f7941abe;
    --clr-main-trans: rgb(206, 160, 151, 0.5);
    --clr-background: rgb(0, 0, 0);
    --clr-background-light: rgba(0, 0, 0, 0.883);
    --clr-text: white;
    --clr-text-light: #c3c3c3e1;
    --clr-dark: #191919c5;
    --clr-dark-light: #34343452;
    --clr-grey: rgb(149, 149, 149); 
    --clr-grey-light: rgba(143, 143, 143, 0.746); 
    --clr-light: #2b2b2b;
    --clr-light-light: rgba(52, 52, 52, 0.862);

    --clr-red: rgb(225, 99, 99);
    --clr-blue: rgb(36, 116, 245);
    --clr-green: rgb(84, 210, 111);
    --clr-yellow: yellow;
}

.theme-ocean{
    --clr-main: #1349e8;
    --clr-main-light: #1348e8c6;
    --clr-main-fade: rgba(19, 72, 232, 0.552);
    --clr-main-trans: rgb(206, 160, 151, 0.5);
    --clr-background: rgb(0, 0, 0);
    --clr-background-light: rgba(0, 0, 0, 0.883);
    --clr-text: white;
    --clr-text-light: #c3c3c3e1;
    --clr-dark: #191919c5;
    --clr-dark-light: #34343452;
    --clr-grey: rgb(149, 149, 149); 
    --clr-grey-light: rgba(143, 143, 143, 0.746); 
    --clr-light: #2b2b2b;
    --clr-light-light: rgba(52, 52, 52, 0.862);

    --clr-red: rgb(225, 99, 99);
    --clr-blue: rgb(36, 116, 245);
    --clr-green: rgb(84, 210, 111);
    --clr-yellow: yellow;
}

.theme-thunder{
    --clr-main: #e3db3b;
    --clr-main-light: #f8ee29ef;
    --clr-main-fade: #f8ee29aa;
    --clr-main-trans: rgb(206, 160, 151, 0.5);
    --clr-background: rgb(0, 0, 0);
    --clr-background-light: rgba(0, 0, 0, 0.883);
    --clr-text: white;
    --clr-text-light: #c3c3c3e1;
    --clr-dark: #191919c5;
    --clr-dark-light: #34343452;
    --clr-grey: rgb(149, 149, 149); 
    --clr-grey-light: rgba(143, 143, 143, 0.746); 
    --clr-light: #2b2b2b;
    --clr-light-light: rgba(52, 52, 52, 0.862);

    --clr-red: rgb(225, 99, 99);
    --clr-blue: rgb(36, 116, 245);
    --clr-green: rgb(84, 210, 111);
    --clr-yellow: yellow;
}