.container{
    position:sticky;
    top: 0;
    padding: 0.5rem 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-background);
    z-index: 1000;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        svg{
            font-size: 1rem;
            display: flex;
            align-items: center;
        }
        .button{
            padding: 0.5rem;
            display: block;
            transition: ease-in-out 0.3s;
            border-radius: 5px;
            background-color: var(--clr-dark-light);
            margin: 0 0.1rem;

            &:hover{
                background-color: var(--clr-main);
                border-radius: 50px;
            }
        }
        .star{
            color: var(--clr-yellow);
            display: flex;
        }
    }

}