.container{
    margin: 1rem;

    .element{
        margin: 0.5rem 0;
        background-color: var(--clr-dark-light);
        padding: 0.5rem;
        border-radius: 5px;
    }

    .image{     
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table{
        width: 100%;
        text-align: center;
        td{
            border-bottom: 1px solid var(--clr-dark-light);
            padding: 1rem 0;
            color: var(--clr-text-light);
        }
        .name{
            text-align: left;
        }
        .profit{
            color: var(--clr-green);
        }
        .loss{
            color: var(--clr-red)
        }
    }

    @media (max-width: 500px){
        table{
            td{
                font-size: 0.8rem;
            }
        }
    }

}