.container{

    .itemsContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        grid-area: 
        "ids"
        "items";

        .ids{
            grid-area: "ids";
            min-width: 150px;
        }
    
        .items{
            grid-area: "items";
        }
    }
}